<h4>Adresse de Facturation</h4>
<div class="mb-3">
    <label for="billingAddress" class="form-label">Adresse</label>
    <input type="text" id="billingAddress" name="billingAddress[address]" class="form-control" value="{{ client.billingAddress.address if is_edit else '' }}" required>
</div>
<div class="mb-3">
    <label for="billingPostalCode" class="form-label">Code Postal</label>
    <input type="text" id="billingPostalCode" name="billingAddress[postalCode]" class="form-control" value="{{ client.billingAddress.postalCode if is_edit else '' }}" required>
</div>
<div class="mb-3">
    <label for="billingCity" class="form-label">Localité</label>
    <input type="text" id="billingCity" name="billingAddress[city]" class="form-control" value="{{ client.billingAddress.city if is_edit else '' }}" required>
</div>
<div class="mb-3">
    <label for="billingCountry" class="form-label">Pays</label>
    <input type="text" id="billingCountry" name="billingAddress[country]" class="form-control" value="{{ client.billingAddress.country if is_edit else '' }}" required>
</div>

<h4>Adresse de Prestation</h4>
<div class="mb-3">
    <label for="treatmentPlaceName" class="form-label">Nom du Lieu de Traitement</label>
    <input type="text" id="treatmentPlaceName" name="serviceAddress[treatmentPlaceName]" class="form-control" value="{{ client.serviceAddress.treatmentPlaceName if is_edit else '' }}">
</div>
<div class="mb-3">
    <label for="serviceAddress" class="form-label">Adresse</label>
    <input type="text" id="serviceAddress" name="serviceAddress[address]" class="form-control" value="{{ client.serviceAddress.address if is_edit else '' }}">
</div>
<div class="mb-3">
    <label for="servicePostalCode" class="form-label">Code Postal</label>
    <input type="text" id="servicePostalCode" name="serviceAddress[postalCode]" class="form-control" value="{{ client.serviceAddress.postalCode if is_edit else '' }}">
</div>
<div class="mb-3">
    <label for="serviceCity" class="form-label">Localité</label>
    <input type="text" id="serviceCity" name="serviceAddress[city]" class="form-control" value="{{ client.serviceAddress.city if is_edit else '' }}">
</div>
<div class="mb-3">
    <label for="serviceCountry" class="form-label">Pays</label>
    <input type="text" id="serviceCountry" name="serviceAddress[country]" class="form-control" value="{{ client.serviceAddress.country if is_edit else '' }}">
</div>