<div class="mb-3">
    <label for="companyName" class="form-label">Nom de l'entreprise</label>
    <input type="text" id="companyName" name="companyName" class="form-control" value="{{ client.companyName if is_edit else '' }}" required>
</div>
<div class="mb-3">
    <label for="lastName" class="form-label">Nom du Responsable</label>
    <input type="text" id="lastName" name="lastName" class="form-control" value="{{ client.responsible.lastName if is_edit else '' }}" required>
</div>
<div class="mb-3">
    <label for="firstName" class="form-label">Prénom du Responsable</label>
    <input type="text" id="firstName" name="firstName" class="form-control" value="{{ client.responsible.firstName if is_edit else '' }}" required>
</div>
<div class="mb-3">
    <label for="email" class="form-label">Adresse e-mail</label>
    <input type="email" id="email" name="email" class="form-control" value="{{ client.email if is_edit else '' }}" required>
</div>
<div class="mb-3">
    <label for="phone" class="form-label">Téléphone fixe</label>
    <input type="tel" id="phone" name="phone" class="form-control" value="{{ client.phone if is_edit else '' }}">
</div>
<div class="mb-3">
    <label for="gsm" class="form-label">Numéro de GSM</label>
    <input type="tel" id="gsm" name="gsm" class="form-control" value="{{ client.gsm if is_edit else '' }}">
</div>
<div class="mb-3">
    <label for="vatNumber" class="form-label">Numéro de TVA</label>
    <input type="text" id="vatNumber" name="vatNumber" class="form-control" value="{{ client.vatNumber if is_edit else '' }}">
</div>