<h4>Créer un utilisateur pour ce client</h4>
<div class="mb-3">
    <label for="username" class="form-label">Nom d'utilisateur</label>
    <input type="text" id="username" name="username" class="form-control">
</div>
<div class="mb-3">
    <label for="password" class="form-label">Mot de passe</label>
    <input type="password" id="password" name="password" class="form-control">
</div>
<button type="submit" formaction="{{ url_for('create_client_user', client_id=client['_id']) }}" class="btn btn-primary">Créer l'utilisateur</button>

<h4 class="mt-5">Liste des utilisateurs</h4>
<ul class="list-group">
    {% for user in client_users %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ user.username }}
        <span>Dernière connexion : {{ user.lastLogin.strftime('%d/%m/%Y %H:%M:%S') if user.lastLogin else "Jamais" }}</span>
    </li>
    {% endfor %}
</ul>